

.box-1{
    text-align: center
}

.box-2{
    margin-left: 200px
}

.box-3{
    margin-left: 200px
}

.box-4{
    margin-left: 200px; margin-right: 700px;
    }

.box-11{
    margin-left: 200px
}

.box-6{
    margin-left: 200px
}

.box-7{
    margin-left: 200px
}
.box-8{
    margin-left: 200px
}

.box-9{
    margin-left: 200px
}

.box-10{
    margin-left: 200px
}

.box-4{
    border: 3px solid black
}